.todoContainer {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.todoPriority {
    margin-top: 7px;
}

.todoCreatedAt {
    margin-top: 7px;
}

.todoText {
    margin-top: 7px;
}

.padder {
    padding-right: 30px;
    padding-left: 30px;
}

.demo-card-wide.mdl-card {
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 267px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

body {
    text-align: center;
    font-family: Arial, Helvetica;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    /* demo only */
}

.flex-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.custom-dropdown select {
    background-color: #0000009d;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}

.custom-dropdown::before, .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
    background-color: rgba(0, 0, 0, .15);
}

.custom-dropdown::after {
    color: rgba(255, 255, 255, 0);
}